header {
    background-color: $color-primario;
    padding: 10px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    
    h1 a{
        text-decoration: none;
        color: $color-10;
}

    nav {

        ul {
            list-style: none;
            display: flex;

            li {
                margin: 5px;
                padding: 0px;


                a {
                    text-decoration: overline;
                    color: $color-terciario;
                    font-size: 12.6px;

                }
            }
        }
    }
}