//----variables----//
$color-primario: #6d8552;
$color-secundario: white;
$color-terciario: #F4E8C1;
$color-cuatro: #d0f5a7;
$color-cinco: black;
$color-seis: white dotted;
$color-siete: rgba(243, 236, 233, 0.534);
$color-ocho: #b32a2a;
$color-9: #A8C686;
$color-10:  rgb(253, 250, 250)




